.international-section {
    margin-top: 60px;
}

.international-section h2 {
    margin-bottom: 8px;
    text-align: center;
    font-size: 34px;
}

#international-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
